<!-- Nav -->
{% placeholder headerBefore %}
<nav id="layout-nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="navbar-container container">
        <a class="navbar-brand" href="{{ 'home'|page }}">
            Utilities Consumption App
        </a>
    </div>
</nav>
<div id="layout-nav-decorations">
    <div class="navbar-decorations container">
        <div class="navbar-decoration-1"></div>
        <div class="navbar-decoration-2"></div>
    </div>
</div>
{% placeholder headerAfter %}